body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Reforma.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Contenedor con fondo blanco con opacidad */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con opacidad */
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
    font-size: 1.2rem;
  }
  
  .question input, .question select {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .question input:focus, .question select:focus {
    border-color: #007BFF;
  }
  
  .submit button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: #a30202;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .submit button:hover {
    background-color: #a30202;
  }
  
  .submit button.restart {
    background-color: #a30202;
  }
  
  .submit button.restart:hover {
    background-color: #a30202;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  